﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BibleVerseApplication.Models.BibleUserEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to your favorite Bible Verse Search Page</h2>
<h4>Please Select the Search Criteria to begin your search</h4>
<div style="font-family: sans-serif">
    <p>
        @using (Html.BeginForm("Index", "SearchVerse", FormMethod.Get))
        {
            <b>Search By:</b>
            <b>@Html.RadioButton("SearchBy", "BookName", true) <text>Book Name</text></b>
            <b>@Html.RadioButton("SearchBy", "Testament") <text>Testament</text></b>
            <b>@Html.RadioButton("SearchBy", "ChapterNumber") <text>Chapter Number</text></b>
            <b>@Html.RadioButton("SearchBy", "VerseNumber") <text>Verse Number</text></b>

            @Html.TextBox("Search") <input type="submit" value="Search" />
        }
    </p>

    <table class="table table-striped table-bordered table-hover table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TestamentSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().BookSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VerseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VerseText)
            </th>

            <th>User Actions</th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5">No Data Matches your Search Criteria</td>
            </tr>

        }
        else
        {


            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestamentSelection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookSelection)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChapterNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerseNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerseText)
                    </td>  
                    
                    <td>
                     
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                        @Html.ActionLink("Details", "Details", new { id = item.Id })|
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })                                         
                    </td>
                </tr>
            }
        }

    </table>
    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
    {
        SearchBy = Request.QueryString["SearchBy"],
        search = Request.QueryString["search"]
    }))
    <p>
        @Html.ActionLink("Back to Verse Records", "Index", "BibleUserEntries")|
        @Html.ActionLink("Create new Bible Verse", "Create", "BibleUserEntries")
    </p>
</div>