﻿<div id="header">
    <h1><a href="/">ASP.NET MVC BIBLE APPLICATION </a></h1>
    <ul id="navlist">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Bible Verse Entry", "Create", "BibleUserEntries")</li>
        <li>@Html.ActionLink("Search Verse", "Index", "SearchVerse")</li>
        <li>@Html.Partial("_LoginPartial")</li>
    </ul>
        
</div>
